rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Allow public access for this applet preview database
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
